.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px 150px;
    grid-auto-flow: dense;
    margin-bottom: 1vw;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 480px) {
    .item:first-child {
        grid-area: 1 / span 2 / span 2;
    }

    .item:nth-child(3n) {
        grid-column: span 2;
    }
}

.navbar {
    color: white;
    font-size: 24px;
    background-color: #4E8447;
    height: 45px;
}

.logo {
    position: absolute;
    top: 2px;
    left: 1vw;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 1vw;
    cursor: pointer;
}

.image-button {
    font-size: 32px;
    cursor: pointer;
    color: Red;
}

.navbar-random {
    position: absolute;
    top: 10px;
    right: 54px;
    cursor: pointer;
}

.navbar-title {
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.center-fit {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.center {
    margin: 20vh auto 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #4E8447;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        margin-left: 50px;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

.gallery-preview {
    display: grid;
    grid-template-columns: repeat(5, 18.8vw);
    grid-template-rows: 18.8vw;
    grid-gap: 1vw;
    padding-right: 1vw;
}

.square {
    background-color: #4E8447;
}

.photo > a > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.body {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;;
    grid-template-rows: auto;
}

.footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
}

.center-cell {
    align-self: center;
}

.top-header {
    margin-top: 0;
}
