.navbar {
    color: white;
    font-size: 24px;
    background-color: #4E8447;
    height: 45px;
}

.logo {
    position: absolute;
    top: 2px;
    left: 1vw;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 1vw;
    cursor: pointer;
}

.navbar-random {
    position: absolute;
    top: 10px;
    right: 54px;
    cursor: pointer;
}

.navbar-title {
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.center-fit {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.center {
    margin: 20vh auto 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #4E8447;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: center;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color: #f1f1f1;
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
        position: absolute;
        top: 10px;
        right: 25px;
        margin-left: 50px;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 18.8vw);
    grid-template-rows: 18.8vw;
    grid-gap: 1vw;
    padding-right: 1vw;
}

.gallery-preview {
    display: grid;
    grid-template-columns: repeat(5, 18.8vw);
    grid-template-rows: 18.8vw;
    grid-gap: 1vw;
    padding-right: 1vw;
}

.photo > a > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.body {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: auto;
}

.footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    margin-top: 1vw;
}

.center-cell {
    align-self: center;
}

.top-header {
    margin-top: 0;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Prevent items in buttons from catching click-events. */
  button > * {
    pointer-events: none;
  }