@model FullScreenImage
<a href="/Image/@Model.AlbumId/@Model.ImageId">
    <img class="center-fit" src="/Image/@Model.AlbumId/@Model.ImageId">
</a>

<form method="post">
    <button asp-controller="ImageView" asp-action="Delete">Delete</button>
</form>

