@model Album
<div class="header">
    <h1 class="center-cell">@Model.Name</h1>  
    <span></span>
    <div class="dropdown center-cell">
        <button onclick="myFunction()" class="dropbtn"><i class="fas fa-ellipsis-h"></i></button>
        <div id="myDropdown" class="dropdown-content">
            @if (ViewData["ShowRandom"] is bool) {
                <a href="/Image/@ViewData["AlbumId"]/Random"><i class="fas fa-dice">&nbsp;Random&nbsp;photo</i></a>
            }
            
            <!-- <a href="#"><i class="fas fa-trash-alt">&nbsp;Delete&nbsp;album</i></a> -->
        </div>
    </div>
    <button onclick="addContent()" class="dropbtn center-cell"><i class="fas fa-plus"></i></button>
</div>
@if (Model.Images.Count == 0)
{
    <div class="center">
        <h2>Press</h2>
        <button onclick="addContent()" class="dropbtn center-cell"><i class="fas fa-plus"></i></button>
        <h2>to add photos</h2>
    </div>
}
else
{
    <div class="gallery">
        @foreach (var image in Model.Images)
        {
            <div class="photo">
                <a href="/ImageView/@Model.Id/@image.Id">
                    <img class="lazyload" src="/PreRender/@image.Width/@image.Height" data-src="/Thumbnail/@Model.Id/@image.Id" title="@image.DateTaken">
                </a>
            </div>
        }
    </div>
}