@model Album
<div class="header">
    <h1 class="center-cell">@Model.Name</h1>  
    <span></span>
    <span class="image-button center-cell" id="js-add" title="Add image">
        <i class="fas fa-plus-square"></i>
    </span>
</div>
@if (Model.Images.Count == 0)
{
    <div class="center" id="add-tutorial">
        <h2>Press</h2>
        <i class="fas fa-plus-square image-button"></i>
        <h2>to add photos</h2>
    </div>
    <script>
        let tutorialAdd = document.getElementById('add-tutorial');
        tutorialAdd.addEventListener('click', function () {
            window.location.href = '@ViewData["AddUrl"]';
        });</script>
}
else
{
    <div class="gallery">
        @foreach (var image in Model.Images)
        {
            <div class="photo">
                <a href="/ImageView/@Model.Id/@image.Id">
                    <img class="lazyload" src="/PreRender/@image.Width/@image.Height" data-src="/Thumbnail/@Model.Id/@image.Id" title="@image.DateTaken">
                </a>
            </div>
        }
    </div>
}

<div class="footer">
    <span class="image-button center-cell" id="js-navbar-delete" title="Delete">
        <i class="fas fa-trash-alt"></i>
    </span>
    <span></span>
    <span class="image-button center-cell" id="js-navbar-random" title="Random photo">
        <i class="fas fa-dice"></i>
    </span>
</div>

