@model Album
<div style="padding: 10px">
    <div class="gallery">
        @foreach (var image in Model.Images)
        {
            <a class="item" href="/ImageView/@Model.Id/@image.Id">
                <img class="lazyload" src="/PreRender/@image.Width/@image.Height" data-src="/Thumbnail/@Model.Id/@image.Id">
            </a>
        }
    </div>
</div>
