@model Album[]
<div class="header">
    <h1 class="center-cell">Albums</h1>  
    <span></span>
    <button onclick="addContent()" class="dropbtn center-cell"><i class="fas fa-plus"></i></button>
</div>
@if (Model.Length == 0)
{
    <div class="center" id="add-album-tutorial">
        <h2>Press</h2>
        <button onclick="addContent()" class="dropbtn center-cell"><i class="fas fa-plus"></i></button>
        <h2>to add albums</h2>
    </div>
    <script>
        let tutorialAdd = document.getElementById('add-album-tutorial');
        tutorialAdd.addEventListener('click', function () {
            window.location.href = '@ViewData["AddUrl"]';
        });</script>
}
else
{
    @for (int i = 0; i < Model.Length; i++) 
    {
        var album = Model[i];
        <a href="/Album/@album.Id">
        @if (i == 0) {
            <h2 class="top-header">@album.Name</h2>
        } else {
            <h2>@album.Name</h2>
        }
        </a>
        @if (album.Images.Count == 0)
        {
            <h3>No images</h3>
        }
        else
        {
            <div class="gallery-preview">
                @foreach (var image in album.Images)
                {
                    <div class="photo">
                        <a href="/Album/@album.Id">
                            <img class="lazyload" src="/PreRender/@image.Width/@image.Height" data-src="/Thumbnail/@album.Id/@image.Id" />
                        </a>
                    </div>
                }
            </div>
        }
    }
}

