@model Album[]
@if (Model.Length == 0)
{
    <div class="center" id="add-album-tutorial">
        <h2>Press</h2>
        <i class="fas fa-plus"></i>
        <h2>to add albums</h2>
    </div>
    <script>
        let tutorialAdd = document.getElementById('add-album-tutorial');
        tutorialAdd.addEventListener('click', function () {
            window.location.href = '@ViewData["AddUrl"]';
        });</script>
}
else
{
    <div style="        padding: 10px">
        @foreach (var album in Model)
        {
            <a href="/Album/@album.Id">
                <h2>@album.Name</h2>
            </a>
            @*TODO: reuse in component? Only if same as in album vie*@
            @if (album.Images.Count == 0)
            {
                <a href="/Album/@album.Id/Add"><h3>Press <i class="fas fa-plus"></i> to add photos</h3></a>
            }
            else
            {
                @foreach (var image in album.Images)
                {
                    <a href="/ImageView/@album.Id/@image.Id">
                        <img class="lazyload zoom" src="/PreRender/@image.Width/@image.Height" data-src="/Thumbnail/@album.Id/@image.Id" width="@image.Width" height="@image.Height">
                    </a>
                }
            }
        }
    </div>
}

